body {
	background-color: #121212;
	width: 600px;
	align-content: center;
	margin-left: 350px;
	margin-top: 200px;
}

#clock {
	font-family: 'Orbitron', sans-serif;
	color: #66ff99;
	font-size: 100px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	border: 5px solid green;
}